html, body, #root {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.profileContainer {
  display: grid;
  grid-template-columns: 450px 1fr 450px; /* Üç eşit sütun */
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Genel kaydırmayı engelle */
  flex-direction: column; /* Mobil için uygun hizalama */

  
}



.left-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  font-size: 18px;

   /* Scrollbar'ları gizleme */
   -ms-overflow-style: none;  /* IE ve Edge */
   scrollbar-width: none;  /* Firefox */
 
 
  overflow-y: auto; /* İçerik taşarsa kaydır */
}

/* Logo üstte sabit, ikonlarla aynı hizada */
.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logox {
  width: 30px; /* Logoyu ikonlarla aynı boyutta yap */
  height: 30px;
  margin-right: 20px; /* İkonlarla aynı hizayı sağlamak için boşluk */
}
.premium-logo {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/* Linkler konteynerın tam ortasında kalacak */
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Linkleri sola hizala */
  justify-content: center; /* Linkleri tam ortada hizala */
  flex-grow: 1; /* Orta alanda kalmalarını sağlar */
  width: 100%;
}

/* Linkler ve buton aynı hizada */
.nav-link,
.send-button {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  justify-content: flex-start;
  width: 100%; /* Linkler ve buton tam genişlikte */
}

.nav-icon {
  margin-right: 20px;
  font-size: 1.25rem;
}
.icon-container {
  align-items: center; /* Center the icon vertically */
  justify-content: center; /* Center the icon horizontally */
  width: 25px; /* Adjust the width */
  height: 25px; /* Adjust the height */
  border: 2px solid white; /* Border style */
  border-radius: 10%; /* Make it circular */
  margin-right : 10px; /* Space between icon and text */
  padding: 0;
}

.send-button {
  background-color: #1da1f2;
  color: white;
  font-size: 1.25rem;
  border-radius: 9999px;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 40%; /* Buton linklerle aynı genişlikte */
  justify-content: center;
}

.send-button:hover {
  background-color: #1a8cd8;
}

.profile-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-top: 20px;
  font-size: 0.875rem; /* Küçük yazı boyutu */
}

.profile-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  width: 33%;
}

.profile-image {
  border-radius: 50%;
  width: 30px; /* Profil resmi küçültüldü */
  height: 30px;
  margin-right: 10px;
}

.profile-info h4 {
  font-size: 0.875rem; /* Profil ismi küçültüldü */
  margin: 0;
}

.profile-info p {
  margin: 0;
  padding: 0;
  font-size: 0.75rem; /* Kullanıcı adı küçültüldü */

}

.more-options {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 5px; /* Üç nokta için biraz boşluk */
}

/* Mobil uyum için ayarlar */
@media (max-width: 1300px) {

  .profileContainer {
    display: grid;
    grid-template-columns: 300px 600px 350px; /* Üç eşit sütun */
    height: 100vh;
    overflow: hidden; /* Genel kaydırmayı engelle */
    
  }
  
  .nav-link span {
    display: none; /* Küçük ekranlarda yazılar gizlenir */
  }
  .left-container{
    font-size: 30px;
  }

  .send-button {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Yuvarlak buton */
    justify-content: center;
    padding: 0;
  
    background-image: url('C:/Users/zeyne/OneDrive/Masaüstü/twitter_frontend/public/img/gonder.png'); /* Twitter'ın gönder logosunun yolunu belirtin */
    background-size: cover; /* Resmin buton alanını tamamen kaplamasını sağlayın */
    font-size: 0; /* Metin yerine bir resim kullandığımız için metni gizleyin */
  }
  

  .profile-info-container {
    display: none; /* Profil bilgisi mobilde gizlenir */
  }

 

  .middle-container {
    width: 100% !important; /* Diğer kolonlar tam genişlik kaplasın */
    max-width: 600px !important;
    min-width: 500px !important;
    height: 100% !important;
  }


  .right-container {
    display: none !important; /* Sağ kolon 768px'den küçükse gizle */
  }



  
.edit-profile {
  border-radius: 20px;
  border: 2px solid white;
  padding: 5px;
  background-color: black;
  color: white;
  font-size: 15px;
  right: 20px;
  margin-left: 20%;
  margin-top: 25%;
}

.middle-profile-info {
  padding-left: 10px;
  margin-top: 12%;
}

.mobile-nav, .send-button-mobile {
  display: none;
}


}






/*right container*/
.right-container {
  background-color: black;
  color: white;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  overflow-y: auto; /* İçerik taşarsa kaydır */
   /* Scrollbar'ları gizleme */
   -ms-overflow-style: none;  /* IE ve Edge */
   scrollbar-width: none;  /* Firefox */
}

/* Arama Kutusu */
.search-container {
  margin-bottom: 20px;
  margin-top: 0;

  position: sticky;
  z-index: 10;
  top: 0;
}

.input-wrapper {

  width: 100%;
  max-width: 400px;
  background-color: black;


}

.search-icon {
  position: absolute;
  left: 10px; /* İkon inputun sol tarafına yapışacak */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Yüksekliği input ile aynı olacak */
}


.search-input {
  width: 70%;
  padding: 10px 10px 10px 40px;
  margin-top: 0;
  border-radius: 50px;
  background-color: rgb(27, 27, 27);
  color: white;
  border: 1px solid gray;
  outline: none;
  font-size: 16px;
  placeholder-color: gray;
}

.icon {
  width: 20px;
  height: 100%;
}
/* Takip Edilebilecek Profil Önerisi */
.profile-suggestion {
  width: 70%;
  background-color: black;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #555;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.profile-suggestion h2 {
  margin-bottom: 10px;
}

.profile-info-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile-photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.profile-text {
  margin-left: 10px;
  flex-grow: 1;
}

.follow-button {
  background-color: white;
  color: black;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* İlgini Çekebilecek Gündemler */
.trending {
  width: 70%;
  background-color: black;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #555;
}

.trending h2 {
  font-size: 16px; /* Daha küçük yapıldı */
  margin-bottom: 10px;
}

.trending-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.posts-count {
  color: gray;
}

.more-button {
  background-color: transparent;
  color: rgb(115, 170, 243);
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-align: right;
  margin-top: 10px;
}

/* Footer */
.footer {
  background-color: black;
  font-size: 14px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer p {
  color: gray;
  margin-top: 20px;
}

span {
  padding-right: 10px; 
}








.middle-container {
  padding-right: 20px;
  border: 1px solid #555;
  

  overflow-y: auto; /* İçerik taşarsa kaydır */
  height: 100%;
  position: relative;
  overflow-x: hidden;
   /* Scrollbar'ları gizleme */
   -ms-overflow-style: none;  /* IE ve Edge */
   scrollbar-width: none;  /* Firefox */
 
}


/* Geri Tuşu, Kullanıcı İsmi ve Gönderi Sayısı */
.header-container {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: black;
  width: 600px;
  opacity: 0.6;
  position: sticky; /* Sabit pozisyon */
  top: 0;
  z-index: 10; /* Diğer içeriklerin üzerinde görünmesini sağlar */

}

.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px ;
}

.header-info {
  display: flex;
  flex-direction: column;
}

.user-name-header {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.post-count {
  color: #888;
}

.background-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.middle-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.middle-profile-image {
  position: absolute;
  top: 80%;
  left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #333;
  transform: translateY(50%);

}

.edit-profile {
  border-radius: 20px;
  border: 2px solid white;
  padding: 5px;
  background-color: black;
  color: white;
  font-size: 15px;
  right: 20px;
  margin-left: 75%;
  margin-top: 20px;
}
.middle-profile-info {
  padding-left: 20px;
  margin-top: 60px;

}

.middle-profile-name {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}

.middle-profile-username {
  color: #888;
  font-size: 15px;
}

.middle-profile-details, .profile-follow-info {
  color: #555;
  margin-top: 20px;
  margin-bottom: 10px;
}
.middle-profile-bio {
  color: white;
  margin-top: 10px;
  font-size: 15px;

}

.profile-menu {
  margin-top: 0px;
  border-bottom: 2px solid #555;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  -ms-overflow-style: none;  /* IE ve Edge */
  scrollbar-width: none;  /* Firefox */
}
.profile-menu-item {
  padding: 10px 20px;
  color: #8899a6;
  cursor: pointer;
  position: relative;
}
.profile-menu-item.active {
  color: white;
  font-weight: bold;
}

.profile-menu-item.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #1DA1F2; /* Mavi alt çubuk */
}
.profile-menu ul {
  display: flex;
  gap: 15px;
  list-style-type: none

  
}

.menu-item {
  padding: 10px 15px;
  color: #8899a6;
  text-align: center;
  cursor: pointer;
  position: relative;
}



.profile-menu ul li:hover {
  background: #211f1f;
  opacity: 50;
  border-radius: 10px;
  padding: 2px 2px;

}


ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 15px;
  justify-content: center;

}

ul li {
  cursor: pointer;
  position: relative;
  cursor: pointer;
  color: #5d5d5d;
  font-size: 15px;
  
}

ul li.active {
  color: #1da1f2;
}

ul li.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #1da1f2;
  width: 100%;
}




.posts {
  margin-top: 20px;
}

.post-card {
  background-color: black;
  color: white;
  padding: 10px;
  border-bottom: 1px solid #555;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.post-user-info {
  display: flex;
  align-items: center;
}

.post-user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-user-details {
  display: flex;
  align-items: center;
}

.post-user-details span {
  margin-right: 5px;
  color: #8899a6;
}

.post-date {
  color: #8899a6;
}
.text, .text-date , .dot-dot-dot{
  color: #555;
} 
.post-content {
  margin-top: 10px;
}

.post-content img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.post-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  color: #8899a6;
}

.premium-text-header, .featured-text-header {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

 .premium-text , .featured-text{
  color: #555;
  text-align: center;
  margin-bottom: 10px;
}
.premium-button, .featured-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  font-size: large;
}

.retweet-info {
  margin-bottom: 10px;
  color: #555;
}

.mobile-nav, .send-button-mobile {
  display: none;
}


.article-prompt, .featured-prompt {
  margin-bottom: 50px;
}


@media (max-width: 450px) {

  .profileContainer {
    display: grid !important;
    grid-template-columns: 0px 1fr 0px !important; /* Üç eşit sütun */
    height: 100% !important;
    overflow: hidden; /* Genel kaydırmayı engelle */
    width: 110% !important;
    
  }
  
  .nav-link span {
    display: none; /* Küçük ekranlarda yazılar gizlenir */
  }
  .left-container{
    font-size: 30px;
    display: none;
  }

  .send-button {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Yuvarlak buton */
    justify-content: center;
    padding: 0;
  
    background-image: url('C:/Users/zeyne/OneDrive/Masaüstü/twitter_frontend/public/img/gonder.png'); /* Twitter'ın gönder logosunun yolunu belirtin */
    background-size: cover; /* Resmin buton alanını tamamen kaplamasını sağlayın */
    font-size: 0; /* Metin yerine bir resim kullandığımız için metni gizleyin */
  }
  

  .profile-info-container {
    display: none; /* Profil bilgisi mobilde gizlenir */
  }

  .right-container {
    display: none !important; /* Sağ kolon 768px'den küçükse gizle */
  }

  .middle-container {
    width: 100% !important; /* Diğer kolonlar tam genişlik kaplasın */
    max-width: 600px !important;
    min-width: 500px !important;
    height: 100% !important;
  }






  
.edit-profile {
  border-radius: 20px;
  border: 2px solid white;
  padding: 5px;
  background-color: black;
  color: white;
  font-size: 15px;
  right: 20px;
  margin-left: 50%;
  margin-top: 5%;
}

.middle-profile-info {
  padding-left: 10px;
  margin-top: 12%;
}

.post-actions {
  margin-bottom: 50px;
}



/* Alt kısımda görünmesini istediğimiz ikonlar */
.mobile-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 10px 0;
  z-index: 1000;
  margin-top: 10px;
}

.mobile-nav-icon {
  color: white;
  font-size: 1.5rem;
}

/* Gönder butonunu sabitlemek için */
.send-button-mobile {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: #1DA1F2;
  background-image: url('C:/Users/zeyne/OneDrive/Masaüstü/twitter_frontend/public/img/gonder.png');
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  font-size: 0;
}

.profile-menu ul li {
  cursor: pointer;
  color: #5d5d5d;
  font-size: 16px;
}

.profile-menu {
  width: 70%;
  overflow-x: auto; /* Yatay kaydırma */
  white-space: nowrap; /* Öğeleri aynı satırda tutar */
}






}

